@{
    ViewData["Title"] = "HobiUrunu";
}

<div class="text-center">

    <h1>Müzik</h1>
    <h3><a href="https://localhost:44373//HobiUrunu/HobiUrunuListe">Hobi Urunlerini Listele</a></h3>
    <h3><a href="https://localhost:44373//HobiUrunu/HobiUrunuEkle">Yeni HobiUrunu Ekle</a></h3>

</div>