@{
    ViewData["Title"] = "AnaSayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Bu site oyun, resim, müzik, kitap gibi pek çok sanat eserinin ve hobi urunleri ile tekonolojik aletler gibi pek çok urunun isminin, sanatçısının, fiyatının vb. kullanıcı tarafından girilen verilerle depolanması için oluşturulmuştur. </p>
    <p>Lütfen aşağıdaki menüden veya yukarıdaki menüden gitmek istediğiniz bölümü seçiniz.</p>
    <h3><a href="https://localhost:44373/Home/HobiUrunu">Hobi Ürünleri</a></h3>
    <h3><a href="https://localhost:44373/Home/Kitap">Kitaplar</a></h3>
    <h3><a href="https://localhost:44373/Home/Muzik">Muzikler</a></h3>
    <h3><a href="https://localhost:44373/Home/Oyun">Oyunlar</a></h3>
    <h3><a href="https://localhost:44373/Home/Resim">Resimler</a></h3>
    <h3><a href="https://localhost:44373/Home/TeknolojikAlet">Teknolojik Aletler</a></h3>
</div>
